.service-details{
    box-shadow: 4px 4px 6px gray;
    border-radius: 4px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    height: 70vh;
}

.product-info{
    display: flex;
    justify-content: space-between;
}

.btn-style{
    margin-top: 100px;
    border-radius: 8px;
    width: 22%;
    float: right;
}