.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}


@media (max-width: 500px){
    .service-container{
        margin-top: 40px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
}
