
.top-header-decoration{
  background-color: #B8CAD4;
  border-radius: 5px 5px 0px 0px;
  margin: 5px 8px 0px 8px;
}

.animation-style{
  position: relative;
  animation: mymove 6s infinite;
  text-align: center;
  height: 10vh;
  padding: 12px;
  color: red;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 550px;}
}